<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/b50e4dd056.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Base11</title>
</head>

<body>
    <body>
	
        <header id="main-header">

            <div class="logo">
            <a href="index.html"><img src="../public/img/logo db11.png" alt="logo-db11" class="logo-db11"></a>
            </div>

            <div class="nav">
            <ul>
                <li><a href="index.html" class="a1">HOME</a></li>
                <li><a href="index.html" class="a1">PRODUCTOS</a></li>
                <li><a href="about.html" class="a1">NOSOTROS</a></li>
                <li><a href="contacto.html" class="a1">CONTACTO</a></li>
            </ul>
            </div>

            <div class="redes">
                <a href=""><i class="fa-solid fa-user"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping-fast"></i></a>
            </div>

        </header>


        <section class="formulario">
            <div class="container-form">
        <form action="https://formspree.io/f/xrgdbozl" method="POST">
        
<div class="form-group">
    <label>
        Nombre:
        <input type="text"  id="name" name="name">
        </label>
    </div>
<div>

<div class="form-group">
    <label>
        Apellido:
        <input type="text"  id="LastName" name="LastName">
        </label>
    </div>
<div>

    <div class="form-group">
        <label>
            Your email:
            <input type="email"  id="email" name="email">
            </label>
        </div>
<div>

<div class="form-group">
        <label>
            Your message:
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </label>
</div>

        <button type="submit">Send</button>
        </form>
    </div>
</section>



    </body>
</html>
