<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">   
    <script src="https://kit.fontawesome.com/b50e4dd056.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Base11</title>
</head>

<body>
    <body>
	
        <header id="main-header">

            <div class="logo">
            <a href="index.html"><img src="../public/img/logo db11.png" alt="logo-db11" class="logo-db11"></a>
            </div>

            <div class="nav">
            <ul>
                <li><a href="index.html" class="a1">HOME</a></li>
                <li><a href="#productos" class="a1">PRODUCTOS</a></li>
                <li><a href="about.html" class="a1">NOSOTROS</a></li>
                <li><a href="contacto.html" class="a1">CONTACTO</a></li>
                <li><i class="fa-solid fa-address-book"></i></li>
            </ul>
            </div>

        </header>

        <main>
            <section class="muestras">

            <h4 class="titulo-vinilos">VINILOS DECORATIVOS</h4>

        <div id="productos" class="vinilos">
            <article id="mercado-libre" class="vinilo"><a href=""><img src="../public/img/vinilo.jpg" alt="vinilo1"></a></article>
            <article id="mercado-libre" class="vinilo"><a href=""><img src="../public/img/vinilo2.jpg" alt="vinilo2"></a></article>
            <article id="mercado-libre" class="vinilo"><a href=""><img src="../public/img/vinilo3.jpg" alt="vinilo3"></a></article>
        </div>
        </section>
        
        <footer class="pie-de-pagina">
            <div class="seguinos">
            <h4>SEGUINOS</h4>
            <ul>
                <li><a href="https://www.instagram.com/_dibiase11/">INSTAGRAM</a></li>
                <li><a href="https://es-la.facebook.com/dibiase11/">FACEBOOK</a></li>
            </ul>
            </div>

            <div class="contacto">
                <h4>CONTACTO</h4>
                <ul>
                    <li>11 5499 1292</li>
                    <li>base11_@hotmail.com</li>
                </ul>
            </div>

        <div class="mercado-libre">
            <div>
            <h4>MERCADO LIBRE</h4>
            </div>
                <a href="">=>aqui </a>
            </div>
        
        </footer>
        </main>
    </body>
    </html>